/* Project-wide style */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}
section {
  padding: 100px;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 15%;
}

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 2px 2px 3px #343345;
}

.navbar-brand p {
  color: #f7aa29;
  margin-top: 20px;
  font-size: 40px;
}

.nav-link {
  font-size: 19px;
  text-shadow: 1px 1px 1px #343345;
  margin: 3px;
  color: #f7aa29;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: #343345;
  background-size: cover;
  display: flex;
  widows: 100%;
  justify-content: space-between;
}

.banner .content1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.banner .content1 .hello {
  justify-content: center;
  align-items: flex-end;
  margin-top: 10vh;
  position: relative;
  margin-left: 10vw;
}

.banner .content1 .hello h2 {
  font-size: 30px;
  color: #dadde4;
  font-weight: 500;
}

.custom-shape-divider-bottom-1601425543 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1601425543 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 190px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1601425543 .shape-fill {
  fill: #dadde4;
}

h1 {
  font-size: 30px;
  color: #f7aa29;
  font-weight: 700;
  letter-spacing: -10px;
}

.banner .content1 .hello h2 span {
  font-size: 100px;
  font-weight: 700;
}

.banner .content1 .hello h3 {
  font-size: 20px;
  color: #dadde4;
  font-weight: 300;
  margin-top: 20px;
}
.banner .content1 .foto {
  justify-content: left;
  text-align: right;
  margin-left: 70px;
  margin-top: 50px;
}
.banner .content1 .foto img {
  max-width: 75%;
  text-align: right;
}

.about {
  position: relative;
  min-height: 100vh;
  background-color: #dadde4;
  background-size: cover;
  display: flex;
}
.content {
  text-align: left;
  margin-top: 70px;
  margin-left: 70px;
  color: #343345;
  display: flex;
  justify-content: center;
}
.contentBox h3 {
  font-size: 60px;
  margin-bottom: 25px;
  font-weight: 700;
}
.contentBox p {
  font-size: 23px;
}
.foto2 {
  min-width: 50%;
}
.foto2 img {
  max-width: 100%;
}

.btn {
  border: none;
  color: #dadde4;
  background-size: 200%;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  border-radius: 30px;
  bottom: -20px;
}

.btn,
.btn1 {
  background-image: linear-gradient(to left, #f7aa29, #f7aa29);
}

.btn:hover,
.btn1:hover {
  background-position: right;
}

.background {
  position: relative;
  min-height: 100vh;
  background-color: #dadde4;
  background-size: cover;
}

.background .heading {
  justify-content: center;
  display: flex;
  font-weight: 700;
  color: #343345;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.background .heading h2 {
  font-weight: 700;
  font-size: 50px;
}

.background .riwayat {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.background .riwayat .sd {
  background-color: #343345;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  top: 50%;
  margin: 30px;
}

.background .riwayat .smp {
  background-color: #343345;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  top: 50px;
  margin: 30px;
}

.background .riwayat .sma {
  background-color: #343345;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  top: 50%;
  margin: 30px;
}

.background .riwayat .kuliah {
  background-color: #343345;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  top: 50%;
  margin: 30px;
}

.background .riwayat h2 {
  font-weight: 500;
  font-size: 25px;
  color: #dadde4;
}
.background .riwayat h3 {
  font-weight: 300;
  font-size: 20px;
  color: #dadde4;
}

.background .riwayat .sd h3 {
  top: 25%;
  position: relative;
}
.background .riwayat .sd h2 {
  top: 25%;
  position: relative;
}

.background .riwayat .smp h3 {
  top: 15%;
  position: relative;
}
.background .riwayat .smp h2 {
  top: 15%;
  position: relative;
}
.background .riwayat .sma h3 {
  top: 15%;
  position: relative;
}
.background .riwayat .sma h2 {
  top: 15%;
  position: relative;
}
.background .riwayat .kuliah h3 {
  top: 25%;
  position: relative;
}
.background .riwayat .kuliah h2 {
  top: 25%;
  position: relative;
}

.skill {
  position: relative;
  min-height: 100vh;
  background-color: #343345;
  background-size: cover;
}

.custom-shape-divider-top-1601425893 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1601425893 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 173px;
}

.custom-shape-divider-top-1601425893 .shape-fill {
  fill: #dadde4;
}

.skill .heading {
  justify-content: center;
  display: flex;
  font-weight: 700;
  color: #f7aa29;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.skill .heading h2 {
  font-weight: 700;
  font-size: 50px;
}

.skill .icon {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.skill .icon img {
  margin: 10px 130px;
  position: relative;
  height: 100px;
  width: 100px;
}

.skill .icon h3 {
  font-size: 30px;
  color: #dadde4;
  font-weight: 300;
  margin-top: 10px;
}

.experience {
  position: relative;
  min-height: 100vh;
  background-color: #343345;
  background-size: cover;
}

.experience .heading {
  justify-content: center;
  display: flex;
  color: #f7aa29;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.experience .heading h2 {
  font-weight: 700;
  font-size: 50px;
}

.experience .kotak {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.experience .kotak img {
  height: 240px;
  width: 240px;
  margin: 20px;
  position: relative;
  text-align: center;
}

.experience .kotak .shifted {
  position: relative;
  text-align: center;
}

.experience .kotak h3 {
  font-weight: 600;
  line-height: 20px;
  font-size: 20px;
}

.experience .kotak p {
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
}

.experience .kotak .shifted .teks1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #343345;
}

.experience .kotak .wisgan {
  position: relative;
  text-align: center;
}

.experience .kotak .wisgan .teks2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #343345;
}

.experience .kotak .perak {
  position: relative;
  text-align: center;
}

.experience .kotak .perak .teks3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 2%);
  color: #343345;
}

.experience .kotak .compfest {
  position: relative;
  text-align: center;
}

.experience .kotak .compfest .teks4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #343345;
}

.contact {
  position: relative;
  min-height: 100vh;
  background-color: #343345;
  background-size: cover;
}

.contact .heading h2 {
  justify-content: center;
  display: flex;
  font-weight: 700;
  color: #f7aa29;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

.contact .heading h3 {
  justify-content: center;
  display: flex;
  font-weight: 300;
  color: #dadde4;
  font-size: 21px;
  text-align: center;
  margin-top: 10px;
}

.contact .heading p {
  justify-content: center;
  font-weight: 300;
  color: #dadde4;
  font-size: 19px;
  text-align: center;
  margin-top: 25px;
}

.contact .heading img {
  justify-content: center;
}
.contact .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.contact .footer img {
  max-width: 100%;
}

.socialmedia .icon ul {
  justify-content: center;
  position: relative;
  top: 25px;
  margin: 0;
  display: flex;
}

.socialmedia .icon ul li {
  list-style: none;
  margin: 0 10px;
}
.socialmedia .icon ul li .fa {
  color: #343345;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.socialmedia .icon ul li .fa:hover {
  color: #ffffff;
}
.socialmedia .icon ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dadde4;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
}
.socialmedia .icon ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.socialmedia .icon ul li:nth-child(1) a:hover {
  background-color: #f7aa29;
}
.socialmedia .icon ul li:nth-child(2) a:hover {
  background-color: #f7aa29;
}
.socialmedia .icon ul li:nth-child(3) a:hover {
  background-color: #f7aa29;
}
.socialmedia .icon ul li:nth-child(4) a:hover {
  background-color: #f7aa29;
}
.socialmedia .icon ul li:nth-child(5) a:hover {
  background-color: #f7aa29;
}

.portfolio {
  position: relative;
  min-height: 100vh;
  background-color: #343345;
  background-size: cover;
}

.portfolio h3 {
  justify-content: center;
  display: flex;
  font-weight: 700;
  color: #ffffff;
  background-color: #f7aa29;
  border-radius: 20px;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.portfolio h2 {
  justify-content: center;
  display: flex;
  font-weight: 600;
  color: #f7aa29;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 30px;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video2 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 50px;
}
.video2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
