@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-family: "Montserrat", sans-serif;
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.box {
  background-color: #cecece;
  width: 80%;
  height: 400px;
  display: flex;
  margin: 50px 10%;
  border-radius: 15px;
  overflow: hidden;
}

.avatar img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: 15%;
  margin-left: 30%;
  object-fit: cover;
  object-position: 0 -30px;
}

.nama {
  width: 70%;
  float: left;
  padding-left: 180px;
}

.nama h1 {
  font-size: 50px;
  font-style: 100px;
  padding-top: 10%;
}
.nama h2 {
  font-size: 30px;
  font-style: 100px;
}

.nama h3 {
  font-size: 20px;
  font-style: 100px;
  padding-top: 5%;
  padding-bottom: 2%;
}

.nama p {
  line-height: 1.5;
}

.box1 {
  background-color: #cecece;
  width: 30%;
  height: 170px;
  display: flex;
  margin: 20px 10%;
  border-radius: 15px;
  overflow: hidden;
}

.box1 .riwayat {
  margin-top: 20px;
  margin-left: 40px;
}
tr:hover {
  background-color: #8b8b8b;
}
th,
td {
  padding: 3px;
  text-align: left;
}
.box2 {
  background-color: #cecece;
  width: 46%;
  height: 170px;
  margin: 20px 10%;
  position: relative;
  left: 34%;
  bottom: 190px;
  border-radius: 15px;
}

.box2 .profil {
  padding-top: 20px;
  padding-left: 40px;
}

.socialmedia .icon ul {
  position: absolute;
  top: 300px;
  left: 80px;
  transform: translate(-50%, -50%);
  margin: 0;
  display: flex;
}

.socialmedia .icon ul li {
  list-style: none;
  margin: 0 10px;
}
.socialmedia .icon ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.socialmedia .icon ul li .fa:hover {
  color: #ffffff;
}
.socialmedia .icon ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cecece;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
}
.socialmedia .icon ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.socialmedia .icon ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.socialmedia .icon ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.socialmedia .icon ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.socialmedia .icon ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.socialmedia .icon ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}
