{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %} {% block style %} {% endblock style %}
  </head>

  <body></body>
  {% block content %} {% endblock content %}
</html>
