{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Data Mata Kuliah</title>
{% endblock meta %} {% block style %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style5.css' %}" />
{% endblock style %} {% block content %}

<br /><br />
<div class="container">
  <div class="col-md-12 d-flex justify-content-center mt-1">
    <h1>Inilah Jadwal Kuliah Kamu</h1>
  </div>
</div>

<div class="container">
  <div class="col-md-12 d-flex justify-content-center mt-1">
    <p>Klik <b>Mata Kuliah</b> yang diinginkan untuk melihat detailnya</p>
  </div>
</div>

<br />
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr class="table-warning">
        <th scope="col">Mata Kuliah</th>
        <th scope="col">Dosen Pengampu</th>
        <th scope="col">Ruangan</th>
      </tr>
    </thead>

    {% for instance in data%}
    <tbody>
      <tr>
        <th scope="row">
          <a href="{% url 'main:detailmatcool' instance.id %}"
            >{{instance.matkul}}</a
          >
        </th>
        <td>{{instance.dosen}}</td>
        <td>{{instance.ruangan}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <br /><br />
  <a href="{% url 'main:matcool'%}" class="btn btn-primary" role="button"
    >Tambah Matkul</a
  >
  <a href="{% url 'main:homematcool'%}" class="btn btn-primary" role="button"
    >Home</a
  >
</div>

{% endblock content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
