{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Detail Mata Kuliah</title>
{% endblock meta %} {% block style %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style5.css' %}" />
{% endblock style %} {% block content %}
<br><br>

<div class="container">
  <h1>Detail Matkul {{data.matkul}}</h1>
<br>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Mata Kuliah</th>
        <td scope="row">{{data.matkul}}</a></td>
        </tr>
    </tbody>
    <tbody>
    <tr>
        <th scope="row">Dosen Pengampu</th>
        <td scope="row">{{data.dosen}}</a></td>
        </tr>
    </tbody>
    <tbody>
    <tr>
        <th scope="row">Jumlah SKS</th>
        <td scope="row">{{data.sks}}</a></td>
        </tr>
    </tbody>
    <tbody>
    <tr>
        <th scope="row">Deskripsi</th>
        <td scope="row">{{data.deskripsi}}</a></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row">Ruangan</th>
            <td scope="row">{{data.ruangan}}</a></td>
            </tr>
        </tbody>
    <tbody>
    <tr>
        <th scope="row">Tahun</th>
        <td scope="row">{{data.tahun}}</a></td>
        </tr>
    </tbody>
  </table>
<br>
  <a href="{% url 'main:hapusmatcool' data.id %}"class="btn btn-danger" role="button">Hapus</a>
  <a href="{% url 'main:datamatcool'%}" class="btn btn-primary" role="button">Kembali </a>
</div>
<br>
<br>



{% endblock content %}

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
