{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Hapus Mata Kuliah</title>
{% endblock meta %} {% block style %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style5.css' %}" />
{% endblock style %} {% block content %}

<br /><br />
<div class="container">
  <form action="." method="POST">
    {% csrf_token %}
    <h2>Apakah kamu ingin menghapus mata kuliah "{{data.matkul}}" ?</h2>

    <p>Jika sudah terhapus, maka data tidak dapat dikembalikan lagi</p>
    <br />
    <p>
      <input type="submit" value="Hapus" class="btn btn-danger" role="button" />
      <a href="../" class="btn btn-primary" role="button">Kembali</a>
    </p>
  </form>
</div>
{% endblock content %}

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
