{% extends 'base.html' %} {% load static %} {% block meta %}
<title>MatCool</title>
{% endblock meta %} {% block style %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style5.css' %}" />
{% endblock style %} {% block content %}

<header>
  <div class="container">
    <div class="banner-text">
      <div class="text-area">
        <h1><span>Mat</span>Cool.</h1>
        <h2>Atur jadwal mata kuliah kamu !</h2>
        <p class="banner-btn">
          <a href="{% url 'main:matcool'%}" class="active">Tambah Jadwal</a>
          <a href="{% url 'main:datamatcool'%}" class="active">Lihat Jadwal</a>
          <a href="{% url 'main:home'%}" class="active">Kembali</a>
        </p>
      </div>
    </div>
  </div>
</header>

{% endblock content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
