{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 3 PPW Hilmy</title>
{% endblock meta %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
{% endblock style %}

{% block content %}
<!DOCTYPE html>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
          <a class="navbar-brand" href="#banner"><p>HAN</p></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#banner"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:homematcool'%}">MatCool</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <section class="banner" id="banner">
      <div class="content1">
        <div class="hello">
          <h2>
            Hello! My Name is <br />
            <span>Hilmy<br />Akbar</span>
          </h2>
          <h1>---------------------------------</h1>
          <h3>Computer Science Student at<br />University of Indonesia</h3>
        </div>
        <div class="foto">
          <img src="{% static 'img/foto.svg' %}" class="img" />
        </div>
        <div class="custom-shape-divider-bottom-1601425543">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
              class="shape-fill"
            ></path>
          </svg>
        </div>
      </div>
    </section>

    <section class="about" id="aboutme">
      <div class="content">
        <div class="contentBox">
          <h3>About Me</h3>
          <p>
            Hi ! My name is Hilmy. I am the undergraduate student in Computer
            Science at University of Indonesia. I live in Ulujami, Jakarta.
            Designing has been a favourite. I have a huge love for simple and
            modern design. Not only designing, I love to make some cinematic
            video using my own DSLR camera. I also love to make motion graphic
            in several apps, like After Effect, Vegas Pro, etc.
          </p>
          <a class="btn" href="{% url 'main:port'%}" target="_blank">See My Portfolio & CV</a>
          <a class="btn" href="{% url 'main:story1'%}" target="_blank">See My Previous Story</a>
        </div>
        <div class="foto2">
          <img src="{% static 'img/foto2.svg' %}" class="img" />
        </div>
      </div>
    </section>

    <section class="background" id="background">
      <div class="heading">
        <h2>My Background Knowledge</h2>
      </div>
      <div class="riwayat">
        <div class="sd">
          <h3>2006-2013</h3>
          <h2>Annajah<br />Islamic<br />School</h2>
        </div>

        <div class="smp">
          <h3>2013-2016</h3>
          <h2>19 Junior<br />High<br />School<br />Jakarta</h2>
        </div>

        <div class="sma">
          <h3>2016-2019</h3>
          <h2>47 Senior<br />High<br />School<br />Jakarta</h2>
        </div>

        <div class="kuliah">
          <h3>2019-Now</h3>
          <h2>University<br />of Indonesia</h2>
        </div>
      </div>
    </section>

    <section class="skill" id="skill">
      <div class="custom-shape-divider-top-1601425893">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
      <div class="heading">
        <h2>What can I do ?</h2>
      </div>
      <div class="icon">
        <div class="gn">
          <img src="{% static 'img/gd.png' %}" class="img" />
          <h1>--------------------------</h1>
          <h3>Graphic Design</h3>
        </div>
        <div class="pg">
          <img src="{% static 'img/pg.png' %}" class="img" />
          <h1>--------------------------</h1>
          <h3>Photography</h3>
        </div>
        <div class="vd">
          <img src="{% static 'img/vd.png' %}" class="img" />
          <h1>--------------------------</h1>
          <h3>Cinematography</h3>
        </div>
      </div>
    </section>

    <section class="experience" id="experience">
      <div class="heading">
        <h2>My Experiences</h2>
      </div>
      <div class="kotak">
        <div class="shifted">
          <img src="{% static 'img/shifted.png' %}" class="img" />
          <div class="teks1">
            <h3>Head of<br />Documentation</h3>
            <p>The 3rd Recital Teater Citra 47 "Shifted"<br />2017</p>
          </div>
        </div>
        <div class="wisgan">
          <img src="{% static 'img/wisgan.png' %}"class="img" />
          <div class="teks2">
            <h3>Staff of Creative</h3>
            <p>Wisuda Ganjil Fasilkom<br />2020</p>
          </div>
        </div>
        <div class="perak">
          <img src="{% static 'img/perak.png' %}" class="img" />
          <div class="teks3">
            <h3>Staff of Bazaar</h3>
            <p>Pesta Rakyat Komputer Fasilkom<br />2020</p>
          </div>
        </div>
        <div class="compfest">
          <img src="{% static 'img/compfest.png' %}" class="img" />
          <div class="teks4">
            <h3>Staff of Digital Marketing</h3>
            <p>COMPFEST<br />2020</p>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="heading">
        <h2>Keep in Touch !</h2>
        <h3>Need a hand ? or a high five ? Here's how to reach me</h3>
        <p>hilmy.akbar@ui.ac.id</p>
      </div>
      <div class="socialmedia">
        <div class="icon">
          <ul>
            <li>
              <a href="https://www.facebook.com/hilmyakbar34" target="_blank"  rel="noopener noreferrer"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/helmeeyyy" target="_blank"  rel="noopener noreferrer"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/hilmy34" target="_blank" rel="noopener noreferrer"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/user/hilmyakbar23"
                target="_blank"  rel="noopener noreferrer"
                ><i class="fa fa-youtube"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/hilmy-akbar-5aa1081a3/"
                target="_blank" rel="noopener noreferrer"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer">
        <img src="{% static 'img/footer.svg' %}" class="img" />
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
      speed: 300;
    </script>
{% endblock content %}
