{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Mata Kuliah</title>
{% endblock meta %} {% block style %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style5.css' %}" />
{% endblock style %} {% block content %}

<div class="container">
  <div class="col-md-12 d-flex justify-content-center mt-5">
    <h1 style="font-family: Rubik, sans-serif">Masukkan Jadwal Kamu !</h2>
  </div>
</div>
<div class="container">
  <div class="col-md-12 d-flex justify-content-center mt-1">
    <p style="font-family: Rubik, sans-serif">
      Bersiaplah untuk menjadi orang yang terorganisir
    </p>
  </div>
</div>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <div class="form-group">
        <form method="POST" style="font-family: Rubik, sans-serif">
          {% csrf_token %} {{form.as_p}}
          <br />
          <button type="Submit" class="btn btn-success">Save</button>
          <a class="btn btn-primary" href="{% url 'main:datamatcool'%}"
            >Lihat Jadwal</a
          >
          <a class="btn btn-primary" href="{% url 'main:homematcool'%}"
            >Kembali</a
          >
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{% endblock content %}

<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js"
  integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
  crossorigin="anonymous"
></script>
