{% extends 'base.html' %} {% load static %} {% block meta %} {% block style %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}" />
{% endblock style %}
<title>Portfolio and CV</title>
{% endblock meta %} {% block content %}
<section class="portfolio">
  <a
    href="https://drive.google.com/drive/folders/1sTFHZqc7t5B4zsqx8tNXKt91mZk3Nd32?usp=sharing"
    target="_blank"
    rel="noopener noreferrer"
    ><h3>Click here to see my Portfolio and CV</h3></a
  >
  <h2>Also, you can watch my projects below</h2>
  <div class="video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/80eCxuUsEG0"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="video2">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/k-RMWa4yaZs"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <a
    href="https://drive.google.com/drive/folders/1XxZ91CJj1OjXsSGtU1LktfLPhhQZ23wu?usp=sharing"
    target="_blank"
    rel="noopener noreferrer"
    ><h3>sst.. Click here to see my other projects</h3></a
  >
</section>
{% endblock content %}
