{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Story 1 PPW Hilmy</title>
{% endblock meta %} 
{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
{% endblock style %}

{% block content %} 
<div class="box">
    <div class="avatar">
      <img src="{% static 'img/pp.jpg' %}">
    </div>
    <div class="nama">
      <h1>Hilmy Akbar Nugraha</h1>
      <h2>1906293101 - Ilmu Komputer</h2>
      <h3>Deskripsi tentang saya</h3>
      <p>
        Perkenalkan, nama saya Hilmy, anak kedua dari dua bersaudara.<br>Sekarang
        sedang menempuh studi S1 Ilmu Komputer di Universitas Indonesia. <br>Saya
        suka dengan dunia <i>cinematography, photography,</i> dan <i>graphic design.</i><br>Saya
        pun orang yang sangat perfeksionis akan suatu hal.
      </p>
    </div>
  </div>
   
  <div class="box1">
    <div class="riwayat">
      <table style="width: 120%">
        <tr>
          <th>Pendidikan</th>
          <th>Rentang tahun</th>
        </tr>
        <tr>
          <td>SD Islam Annajah</td>
          <td>2006-2013</td>
        </tr>
        <tr>
          <td>SMPN 19 Jakarta</td>
          <td>2013-2016</td>
        </tr>
        <tr>
          <td>SMAN 47 Jakarta</td>
          <td>2016-2019</td>
        </tr>
        <tr>
          <td>Universitas Indonesia</td>
          <td>2019-Sekarang</td>
        </tr>
      </table>
    </div>
  </div>
    
  <div class="box2">
    <div class="profil">
      <table style="width: 100%">
        <tr>
          <td>Tanggal Lahir</td>
          <td>23 Oktober 2000</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>Jalan Swadarma Utara 1 Nomor 39 Jakarta Selatan</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>hilmy.akbar@ui.ac.id</td>
        </tr>
        <tr>
          <td>Nomor Telepon</td>
          <td>0878 7688 3311</td>
        </tr>
        <tr>
          <td>Tempat Kuliah</td>
          <td>Universitas Indonesia</td>
        </tr>
    </div>
  </div>
  <div class="socialmedia">
    <div class="icon">
      <ul>
        <li><a href="https://www.facebook.com/hilmyakbar34"target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/helmeeyyy"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/hilmy34"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/user/hilmyakbar23"target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.linkedin.com/in/hilmy-akbar-5aa1081a3/"target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
{% endblock content %}